<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" href="../static/css/style2.css" />
	</head>
	<body>
		<div class="title">
			<p>业务支撑部黑名单管理系统</p>
		</div>
		<main>
			<div class="main">
				<form action="/auth/login" method="post">
                    {{ form.hidden_tag() }}
					<ul>
						<li>
                            {{ form.username.label(class="l-ico fl") }}
                            {{ form.username(class="fl") }}
						</li>
						<li>
                            {{ form.password.label(class="l-ico fl") }}
                            {{ form.password(class="fl") }}
						</li>
						<div class="clear"></div>
					</ul>
						{{ form.submit(class="btn btn-primary") }}
				</form>
			</div>
		</main>
	</body>
</html>
